In [47]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic
from sklearn import metrics
import numpy as np
import pandas as pd

In [48]:
data = pd.read_csv("water.txt",delimiter='\t')

In [49]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [50]:
print data.shape
mort = data['mortality']
mort = np.array(mort)

(61, 4)

In [51]:
mean_std = mort.std(ddof=1)/(len(mort)**0.5)
print _tconfint_generic(mort.mean(), mean_std, len(mort) - 1, 0.05, 'two-sided')

(1476.0833413552848, 1572.2117406119285)

In [52]:
data_south = data[(data.location == 'South')]
mort_s = data_south['mortality']
mort_s = np.array(mort_s)
s_mean_std = mort_s.std(ddof=1)/(len(mort_s)**0.5)
print _tconfint_generic(mort_s.mean(), s_mean_std, len(mort_s) - 1, 0.05, 'two-sided')

(1320.1517462936238, 1433.463638321761)

In [53]:
data_north = data[(data.location == 'North')]
mort_n = data_north['mortality']
mort_n = np.array(mort_n)
n_mean_std = mort_n.std(ddof=1)/(len(mort_n)**0.5)
print _tconfint_generic(mort_n.mean(), n_mean_std, len(mort_n) - 1, 0.05, 'two-sided')

(1586.5605251961385, 1680.6394748038613)

In [54]:
hard_s = np.array(data_south['hardness'])
hard_n = np.array(data_north['hardness'])
s_mean_std = hard_s.std(ddof=1)/(len(hard_s)**0.5)
print _tconfint_generic(hard_s.mean(), s_mean_std, len(hard_s) - 1, 0.05, 'two-sided')
n_mean_std = hard_n.std(ddof=1)/(len(hard_n)**0.5)
print _tconfint_generic(hard_n.mean(), n_mean_std, len(hard_n) - 1, 0.05, 'two-sided')

(53.467198692036106, 86.071262846425441)
(21.422487285724259, 39.377512714275738)