In [7]:
import pandas as pd
import numpy as np

In [8]:
%ls

banknotes.txt   hw1.ipynb  hw5.ipynb  hw8.ipynb       Untitled.ipynb
challenger.txt  hw2.ipynb  hw6.ipynb  illiteracy.txt  water.txt
diamonds.txt    hw4.ipynb  hw7.ipynb  pines.txt

In [9]:
data = pd.read_csv('illiteracy.txt', sep = '\t', header = 0)

In [10]:
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [11]:
sparse_data = pd.pivot_table(data, index=['Country'], columns=['Births'], values='Illit',fill_value=0)

In [12]:
sparse_data.head()

Births,0.88,0.97,1.24,1.37,1.4,1.78,1.8,1.81,1.89,1.91,...,5.87,5.89,5.9,6.3,6.7,6.72,6.78,6.8,7.08,7.67
Country,,,,,,,,,,,,,,,,,,,,,
Albania,0,0.0,0.0,0.0,0.0,20.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
Algeria,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
Bahrain,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
Belize,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
Benin,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.
water.txt

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

In [13]:
water = pd.read_csv('water.txt', sep = '\t', header = 0)

In [14]:
data.corr(method='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [15]:
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [16]:
water_compare = water.drop(['location','town'], axis=1)

В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [17]:
water_compare.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [18]:
water_compare.corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [19]:
water_south = water[water['location'] == 'South'].drop(['location','town'], axis=1)
water_north = water[water['location'] == 'North'].drop(['location','town'], axis=1)

In [20]:
print water_south.corr(), water_north.corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000            mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

  0|1
-- | --
203|718
239|515

In [21]:
data = np.array([[203,718], [239,515]])
data = pd.DataFrame(data = data, columns=['1','0'])

In [22]:
data

     1    0
0  203  718
1  239  515

In [23]:
a = 203; b = 718; c = 239; d = 515
MCC = (a*d - b*c)/(((a + b)*(a + c)*(b + d)*(c + d))**0.5)

In [24]:
print MCC

-0.109002374587

In [25]:
from scipy import stats

In [26]:
data = np.array([[203,718], [239,515]])
stats.chi2_contingency(data)

(19.407530788543038,
 1.0558987006638725e-05,
 1,
 array([[ 243.03402985,  677.96597015],
        [ 198.96597015,  555.03402985]]))

In [27]:
import scipy
from statsmodels.stats.weightstats import *
from statsmodels.stats.proportion import proportion_confint

In [28]:
def proportions_diff_confint_ind(sample1, sample2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре? Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [29]:
#X_train = np.zeros(34); X_train[0:10] = 1;
weman = np.zeros(203+718); weman[0:203] = 1;
men = np.zeros(239+515); men[0:239] = 1
print weman.shape,men.shape
print proportions_diff_confint_ind(men,weman)

(921,) (754,)
(0.053905233215813156, 0.13922183141523897)

Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин. Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу. Введите номер первой значащей цифры (например, если вы получили 5.5×10−8, нужно ввести 8).

In [30]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [31]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [32]:
print "p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_ind(men,weman))

p-value: 0.000008

## Категориальные признаки##
Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"
Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

|                      | Не доволен	| Более или менее	|   Доволен | $$\sum_{+j}$$ |
|----------------------|------------|-------------------|-----------|---------------|
|   Не очень счастлив  | 197        |   	111         |	33      |      341         |
|Достаточно счастлив   |382	        |685	            |331        |      1398         |
|Очень счастлив        |	110     |	342             |	333     |         785      |
|$$\sum_{+i}$$         |    689        |  1138                 |   697        |               |

$$\chi^2=\sum_{i}^3 \sum_{j}^3 \frac{n_{ij}^2}{n_{+i} n_{+j}}-1$$

In [33]:
data = np.array([[197,111,33], [382,685,331],[110,342,333]])
stats.chi2_contingency(data)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[  93.08597464,  153.74722662,   94.16679873],
        [ 381.6251981 ,  630.318542  ,  386.0562599 ],
        [ 214.28882726,  353.93423138,  216.77694136]]))

In [49]:
V = (((293.68311039689746) / 9) / (9*3-1))**0.5

In [50]:
print V

1.12029283107